
<div class="about-main">
  <ppp>
    筋トレ記録、体力測定サービス 塗布部
  </ppp>
  <ppp>
    日々のトレーニング結果を記録し、記録の推移が一目でわかる
  </ppp>
  <ppp>
  　他のユーザーの記録をいつでも比較できる。
  </ppp>
  <img class="about-img" src="/tweets.png">
  <canvas id="stage"></canvas>
</div>
