
<div class="about-main">
  <div><ppp>
    筋トレ記録、体力測定サービス 塗布部
  </ppp></div>
  <div><ppp>
    日々のトレーニング結果を記録し、記録の推移が一目でわかる
  </ppp></div>
  <div><ppp>
  友達の記録をいつでも比較できる
  </ppp></div>
  <img class="about-img" src="/tweets.png">
 
</div>
